footer {
  padding: 40px 6%;
  background-color: var(--cor-primary-1);
}

.footer-infor {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.dados-profissionais {
  width: 45%;
}

.dados-profissionais h4 {
  color: #fff;
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
}

.mensagem {
  margin-top: 1.5rem;
  width: 100%;
  padding-bottom: 1rem;
}

.contato,
.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.copyrigth {
  display: flex;
  justify-content: space-between;
}

.footer-infor i {
  padding-right: 0.2rem;
}

@media screen and (max-width: 1120px) {
  .footer-infor {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .dados-profissionais {
    width: 100%;
  }

  .contato,
  .social {
    padding: 0.3rem;
    gap: 0.5rem;
  }

  .copyrigth {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  .copyrigth p {
    font-size: 0.9rem;
  }
}
